<div class="row">
  <div class="col s6">
    <ng-container *ngFor="let item of listLeft; let i=index">
      <app-widget-pokemon-name [pokemon]="item" [removeBtn]="removeBtn" 
       (delete)="onDelete($event)"></app-widget-pokemon-name>
    </ng-container>
  </div>
  <div class="col s6">
    <ng-container *ngFor="let item of listRight; let i=index">
      <app-widget-pokemon-name [pokemon]="item" [removeBtn]="removeBtn"
       (delete)="onDelete($event)"></app-widget-pokemon-name>
    </ng-container>
  </div>
</div>